@model Application.Models.ProfileViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
@*@if (Model.PersonType == PersonType.Student)
{

}
else if (Model.PersonType == PersonType.Student)
{

}
else if (Model.PersonType == PersonType.Admin)
{

}*@
<body>
    <h1>@Model.PersonType</h1>
    <table>
        <thead>
            <tr>
                <td>Prénom</td>
                <td>Nom</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Person.FirstName</td>
                <td>@Model.Person.LastName</td>
                <td>@Model.Person.Email</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
