@model Application.Models.ProfileViewModel
@using Application.Controllers.ViewComponents
@{
    ViewData["Title"] = "Index";
}

<h1>Mon profil : </h1>
@*bouton déconnexion*@
<table>
    <thead>
        <tr>
            <td>Prénom</td>
            <td>Nom</td>
            <td>Email</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Person.FirstName</td>
            <td>@Model.Person.LastName</td>
            <td>@Model.Person.Email</td>
            @switch (Model.Person.Role)
            {
                case Models.Role.Admin:
                    //  Bouton popup
                    //  ajax + tard
                    <td><button onclick="@await Component.InvokeAsync("EditPerson", new { Model.Person });">Modifier</button></td>
                    break;
                case Models.Role.Teacher:
                    <td><button onclick="@await Component.InvokeAsync("EditPerson", new { Model.Person });">Modifier</button></td>
                    break;
                case Models.Role.Student:
                    <td><button onclick="@await Component.InvokeAsync("EditPerson",new { Model.Person });">Modifier</button></td>
                    break;
            }
        </tr>
    </tbody>
</table>





<style scoped>
    table {
        width: 100%;
        vertical-align: middle;
    }

        table thead {
            font-weight: bold;
        }
</style>