@model Application.Models.ProfileViewModel
@using Application.Controllers.ViewComponents
@using Application.Controllers.Services
@inject RoleService roleService
@{
    ViewData["Title"] = "Index";
}


@*bouton déconnexion*@
@await Component.InvokeAsync("PersonDetails", new { Model.Person })
@*popups :
    @await Component.InvokeAsync("EditPerson", new { Model.Person })

*@


@if (await roleService.GetRoleAsync(User) != Models.Role.Admin)
{
    @*view daily courses : *@
    @await Component.InvokeAsync("CoursesList", Model.Courses.Where(c => c.Date.Day == DateTime.Now.Day));
    @*
        view all courses
        teacher:
            edit missing for his courses
            edit grades for his courses
            groups
            groups.courses

        student :

            group
    *@
}
else
{
    <a for="coursesList" data-toggle="collapse" href="#coursesList" aria-expanded="true" aria-controls="coursesList" class="btn btn-primary">Modifier les cours</a>
    <div id="coursesList" class="collapse">
        @await Component.InvokeAsync("CoursesList", Model.Courses);
    </div>


    @*admin components
        view list students/teachers / edit students/teachers
        view list courses / edit courses
        view list classrooms / edit classrooms

    *@
}
