@using Models
@model List<Person>
@using Application.Controllers.Services
@inject RepositoryService<Group> GroupServices
@inject RepositoryService<Student> StudentServices

<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>

            <th>Prénom</th>
            <th>Nom</th>
            @switch (Model.First().Role)
            {
                case Role.Admin:
                    break;
                case Role.Teacher:
                    <th>Professeur principal</th>
                    <th>Classes</th>
                    break;
                case Role.Student:
                    <th>Classe</th>
                    break;
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Person p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                @switch (p.Role)
                {
                    case Role.Admin:
                        break;
                    case Role.Teacher:
                        var homerooms = ((Teacher)p).Courses?.SelectMany(c => c.Groups.Where(g => g.HomeRoomTeacherID == p.PersonID)?.Distinct());
                        var classes = ((Teacher)p).Courses?.SelectMany(c => c.Groups)?.Distinct();
                        <td>@foreach (var item in homerooms) { Html.Raw($"{item} "); }</td>
                        <td>@foreach (var item in homerooms) { Html.Raw($"{item} "); }</td>
                        break;
                    case Role.Student:
                        <td>
                            @(((Student)p).GroupID)
                        </td>
                        break;
                }
            </tr>
        }
    </tbody>
</table>
