@using Models
@model List<Group>
@using Application.Controllers.Services
@inject RepositoryService<Group> GroupServices
@inject RepositoryService<Student> StudentServices

<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>
            <th>Classe</th>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach(Student i in item.Students) { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i.GroupID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.LastName)
                    </td>
                </tr>
                }
        }
    </tbody>
</table>
