@using Models
@model List<Classroom>

<button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#edit-classroom" data-url="@Url.Action("EditClassroomModal", new Classroom())">Créer une salle</button>
<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#edit-classroom" data-url="@Url.Action("EditClassroomModal", item)">
                        Modifier
                    </button>
                    <button type="button" class="btn btn-danger" href="#modal-placeholder">
                        Supprimer
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
