@model Models.Course
@using Application.Controllers.Services
@inject TeachersService teachersService
@inject SubjectsService subjectsService
@inject ClassroomsService classroomsService

@{
    ViewData["Title"] = "Edit";

    List<SelectListItem> teachers = new List<SelectListItem>();
    foreach (var item in teachersService.GetAll())
    {
        teachers.Add(new SelectListItem { Text = $"{item.FirstName} {item.LastName}", Value = $"{item.ID}" });
    }

    List<SelectListItem> subjects = new List<SelectListItem>();
    foreach (var item in subjectsService.GetAll())
    {
        subjects.Add(new SelectListItem { Text = $"{item.ID}", Value = $"{item.ID}" });
    }

    List<SelectListItem> classrooms = new List<SelectListItem>();
    foreach (var item in classroomsService.GetAll())
    {
        classrooms.Add(new SelectListItem { Text = $"{item.Name}", Value = $"{item.ID}" });
    }
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher" class="control-label">Teachers</label><br />
                <select asp-for="TeacherID" asp-items="teachers"></select>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label">Subjects</label><br />
                <select asp-for="SubjectID" asp-items="subjects"></select>
            </div>
            <div class="form-group">
                <label asp-for="Classroom" class="control-label">Classrooms</label><br />
                <select asp-for="ClassroomID" asp-items="classrooms"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
