@{
    ViewData["Title"] = "Page d'accueil d'IT School";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur le portail IT School</h1>
    <p>Commencez à le parcourir en vous connectant à votre profil.</p>
</div>
